@import './src/styles/variables'; //bootstrap theme variables

$dark-background: #2E3748;

.luciad .lcdBalloon {
  z-index: 400;
  text-decoration: default;
}

.luciad .lcdBalloon .lcdFrame {
  position: relative;
  box-shadow: 5px 5px 2px rgba(45, 54, 71, 0.75);
  background-color: $modal-content-bg;
  border-radius: 4px;
  border: thin solid $dark-background;
  background-color: $dark-background;
//  border: thin solid #464646;
}

.luciad .lcdBalloon .lcdHeader {
  border: 1px solid $brand-primary;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
  height: 30px;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: $brand-primary;
  background-image: linear-gradient(lighten($brand-primary, 8%), $brand-primary 60%, darken($brand-primary, 4%));
  color: $navbar-default-link-color;
}

.luciad .lcdBalloon .lcdContent {
  min-width: 200px;
  max-width: 800px;
  // padding: 0 10px 0 10px;
  padding: $modal-inner-padding/2;
  padding-top: 10px;
  padding-bottom: 0;
  overflow: auto;
  background-color: $dark-background;
  color: $text-color;
  font: 12px arial, Helvetica Neue;
}

.lcdContent {
  h1 {
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: $text-color;
    text-align: center;
    padding-bottom:10px;
  }
  ul {
    padding:0;
    list-style-type:none;
  }
  li {
    padding-bottom: 4px;
  }
  .balloon-property-name {
    font-weight: bold;
  }

  .balloon-text {
    p {
      line-height: 1;
      margin: 0;
      margin-bottom: 4px;
      padding: 0;
    }
  }
  .small-image {
    width: 320px;
    height: auto;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    button {
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 8px;
      right: 4px;
      background-color: transparent;
      &:hover {
        background-color: rgba(128, 128, 128, 0.5);
      }
      border: none;
      cursor: pointer;
      background:
              linear-gradient(to right, white 1px, transparent 1px) 0 0,
              linear-gradient(to right, white 1px, transparent 1px) 0 100%,
              linear-gradient(to left, white 1px, transparent 1px) 100% 0,
              linear-gradient(to left, white 1px, transparent 1px) 100% 100%,
              linear-gradient(to bottom, white 1px, transparent 1px) 0 0,
              linear-gradient(to bottom, white 1px, transparent 1px) 100% 0,
              linear-gradient(to top, white 1px, transparent 1px) 0 100%,
              linear-gradient(to top, white 1px, transparent 1px) 100% 100%;
      background-repeat: no-repeat;
      background-size: 5px 5px;
    }

    .fade-in {
      animation: fadeIn ease 2s;
      -webkit-animation: fadeIn ease 2s;
      -moz-animation: fadeIn ease 2s;
      -o-animation: fadeIn ease 2s;
      -ms-animation: fadeIn ease 2s;
    }
    @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }

    @-moz-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }

    @-webkit-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }

    @-o-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }

    @-ms-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
  }
}

.luciad .lcdBalloon .lcdClose {
  cursor: pointer;
  position: absolute;
  width: 16px;
  height: 20px;
  top: 8px;
  right: 3px;
  background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11 Emulated-Glyphicon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" color="white"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>');
  background-size: 60%;
  background-repeat: no-repeat;
  color: darken($navbar-default-link-color, 15%);
  -moz-background-size: 20px 20px;
}

.luciad .lcdBalloon .lcdClose:before{
  top: 5px;
  font-size: 14px;
  display: inline-block;
 // font-family: 'Glyphicons Halflings';
 // background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11 Emulated-Glyphicon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" color="white"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>');
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
 // content: "\e014";
}

.luciad .lcdBalloon .lcdClose:hover {
  font-weight: bold;
  color: darken($navbar-default-link-color, 5%);
}

.lcdBalloon {
  .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.2;
    border-radius: 3px;
    select {
      border: 1px solid black;
    }
  }
  label {
    padding-top: 6px;
    font-size: 12px;
    font-weight: bold;
  }
  .control-label {
    padding-top: 6px;
    font-size: 12px;
  }
  .input-group-addon {
    line-height: 1;
    padding: 6px 12px 6px 12px;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
  }
  .input-group-btn {
    padding-top: 0;
  }
  .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: 0px;
    label{
      padding-top: 0;
    }
  }
  input[type="radio"], input[type="checkbox"] {
    line-height: 1.2;
    margin: 2px 0 0 -20px;
  }
  .radio, .checkbox {
    margin-top: 0;
  }

  input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-left: -20px;
    margin-top: 0px;
    line-height: normal;
  }

  .nav-tabs .nav-link {
    outline:none;
    border: 1px solid $gray-900;
    &:hover {
      border-color: $gray-500;
    }
  }

  .nav-tabs .nav-link:hover {
    border-color: $gray-500;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #fefefe;
    border-color: $gray-900;
  }

  .features-container {
    padding-top: 10px;
    min-width: 240px;
  }
  .features-container-jsoneditor {
    padding-top: 10px;
    min-width: 320px;
  }
}

.lcdFrame > div:nth-child(3) {
  border-color: $dark-background;
  bottom: -14px !important;
  display: block; position: relative; width: 0px; border-width: 15px 15px 0px; border-style: solid; border-color: rgba(45, 54, 71, 0.75) transparent; left: -9px;
}
.lcdFrame > div:nth-child(3):before {
  content: "";
  display: block; position: absolute; bottom: -3px; width: 0px; border-width: 15px 15px 0px; border-style: solid; border-color: rgba(45, 54, 71, 0.75) transparent; left: -9px;
  filter: blur(1px);
}
.lcdFrame > div:nth-child(3):after {
  content: "";
  display: block; position: absolute; bottom: 1px; width: 0px; border-width: 15px 15px 0px; border-style: solid; border-color: $modal-content-bg transparent; left: -15px;
}

.lcdFrame > div:nth-child(3):after {
  border-color: $dark-background transparent;
}
