$modal-content-bg: black;
$brand-primary: #1976d2;
$navbar-default-link-color: white;
$text-color: white;
$modal-inner-padding: 5px;
$navbar-default-link-color: #ffffff;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #999 !default;
$gray-600: #7A8288 !default;
$gray-700: #52575C !default;
$gray-800: #3A3F44 !default;
$gray-900: #272B30 !default;
$black:    #000 !default;