$headerHeight: 30px;
$transitionDuration: 125ms;
$formWidth: 480px;
$formHeight: 720px;

$formHiddenPositionLeft: -($formWidth + 20px);
$formHiddenPositionRight: -($formWidth + 20px);
$formHiddenPositionBottom: -($formHeight + 20px);
$backgroundHeaderColor: #1976d2;

.FormHolder {
  position: absolute;
  padding: 0;
  max-width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;

  &#LEFT {
    width: $formWidth;
    top: 0;
    bottom: 0;
    position: absolute;
    left: $formHiddenPositionLeft;
    transition: all $transitionDuration ease 0s;

    &.visible {
      left: 0;
    }
  }

  &#RIGHT {
    width: $formWidth;
    top: 0;
    bottom: 0;
    position: absolute;
    right: $formHiddenPositionRight;
    transition: all $transitionDuration ease 0s;

    &.visible {
      right: 0;
    }
  }

  &#BOTTOM {
    display: none;
    height: $formHeight;
    max-height: 100%;
    bottom: $formHiddenPositionBottom;
    position: absolute;
    left: 0;
    right: 0;
    transition: all $transitionDuration ease 100s;

    &.visible {
      display: inherit;
      bottom: 0;
    }
  }

  .header {
    height: $headerHeight;
    width: 100%;
    background-color: $backgroundHeaderColor;
    overflow: hidden;

    div.title {
      padding: 0px 10px 0px 10px;
      line-height: 50px;
      font-size: 18px;
      color: white;
    }
  }

  div.closeButton {
    top: 4px;
    right: 4px;
    width: 24px;
    height: 24px;
    position: absolute;
    color: white;

    .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
      padding: 0;
    }
  }

  .body {
    background: white;
    padding: 0;
    position: absolute;
    top: $headerHeight;
    bottom: 0;
    width: 100%;
    overflow: hidden;

    .content {
      box-sizing: border-box;
      padding: 10px;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}