.App {
  width: 100%;
  height: 100%;
}

.AppBody {
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
}

@media (min-width: 532px) {
  .AppBody {
    top: 56px;
    bottom: 0;
  }
}

@media (min-width: 600px) {
  .AppBody {
    top: 64px;
    bottom: 0;
  }
}


@media (min-width: 900px) {
  .AppBody {
    top: 68.5px;
    bottom: 0;
  }
}





